In [10]:
import csv
import pandas
import json
import requests
import itertools

In [3]:
src_dir = "C:\\Users\\AaronJacobsonDesk3\\Documents\\UWMSDS\\Classes\\Fall2021\\DATA512\\DATA512\\DATA512\\A2\\"

In [130]:
df_page = pandas.read_csv(src_dir + "page_data.csv")
df_page = df_page[~df_page['page'].str.startswith("Template:")]
df_page

,page,country,rev_id
1,Bir I of Kanem,Chad,355319463
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
12,Yos Por,Cambodia,393822005
23,Julius Gregr,Czech Republic,395521877
24,Edvard Gregr,Czech Republic,395526568
...,...,...,...
47192,Yahya Jammeh,Gambia,807482007
47193,Lucius Fairchild,United States,807483006
47194,Fahd of Saudi Arabia,Saudi Arabia,807483153
47195,Francis Fessenden,United States,807483270
47196,Ajay Kannoujiya,India,807484325

In [156]:
df_country = pandas.read_csv(src_dir + "WPDS_2020_data - WPDS_2020_data.csv")
df_region = df_country[df_country['Name'] == df_country['Name'].str.upper()]
df_country = df_country[df_country['Name'] != df_country['Name'].str.upper()]
df_country

    FIPS             Name     Type  TimeFrame  Data (M)  Population
3     DZ          Algeria  Country       2019    44.357    44357000
4     EG            Egypt  Country       2019   100.803   100803000
5     LY            Libya  Country       2019     6.891     6891000
6     MA          Morocco  Country       2019    35.952    35952000
7     SD            Sudan  Country       2019    43.849    43849000
..   ...              ...      ...        ...       ...         ...
229   WS            Samoa  Country       2019     0.200      200000
230   SB  Solomon Islands  Country       2019     0.715      715000
231   TO            Tonga  Country       2019     0.099       99000
232   TV           Tuvalu  Country       2019     0.010       10000
233   VU          Vanuatu  Country       2019     0.321      321000

[210 rows x 6 columns]

In [20]:
endpoint = "https://ores.wikimedia.org/v3/scores/enwiki?models=articlequality&revids="

def GetQuality(rev_list):
    rev_string = ""
    first_rev = True
    for revid in rev_list:
        if first_rev:
            first_rev = False
            rev_string = revid
        else:
            rev_string = rev_string + "|" + revid
    response = requests.get(endpoint + rev_string)
    body = response.json()
    return body

In [23]:
responses = []

rev_ids = []
rev_count = 0
for index, row in df_page.iterrows():
    if rev_count == 49:
        response = GetQuality(rev_ids)
        rev_count = 0
        responses.append(response)
        rev_ids = []
    else:
        rev_count += 1
        rev_ids.append(str(row['rev_id']))

In [41]:
predictions = {}
no_predictions = []
for response in responses:
    scores = response['enwiki']['scores']
    for revid in scores.keys():
        article_quality = scores[revid]['articlequality']
        if 'error' in article_quality.keys():
            no_predictions.append(revid)
        else:
            predictions[revid] = article_quality['score']['prediction']
predictions

{'355319463': 'Stub',
 '393276188': 'Stub',
 '393822005': 'Stub',
 '395521877': 'Stub',
 '395526568': 'Stub',
 '401577829': 'Stub',
 '442937236': 'Stub',
 '448555418': 'Stub',
 '470173494': 'Start',
 '477962574': 'Stub',
 '492060822': 'Stub',
 '492964343': 'Stub',
 '498683267': 'Stub',
 '502721672': 'C',
 '521986779': 'Stub',
 '532253442': 'Stub',
 '543225630': 'Stub',
 '545936100': 'Stub',
 '546364151': 'Start',
 '549300521': 'Stub',
 '550953646': 'Stub',
 '559553872': 'Stub',
 '559788982': 'Stub',
 '560758943': 'Stub',
 '561744402': 'Stub',
 '564873005': 'Stub',
 '565745353': 'Stub',
 '565745365': 'Stub',
 '565745375': 'Stub',
 '566504165': 'Stub',
 '573710096': 'B',
 '574571582': 'Stub',
 '576988466': 'Stub',
 '585894477': 'Stub',
 '592289232': 'Stub',
 '595693452': 'Start',
 '596181202': 'Start',
 '598819900': 'Start',
 '601122766': 'Stub',
 '601127343': 'Start',
 '614786300': 'Start',
 '623004627': 'Stub',
 '623334577': 'Stub',
 '624468970': 'Stub',
 '625509885': 'Start',
 '626606789': 'Stub',
 '627001041': 'Stub',
 '627432937': 'Stub',
 '628261896': 'Stub',
 '628268705': 'Stub',
 '628270736': 'Stub',
 '628312759': 'Stub',
 '628379479': 'Stub',
 '628563978': 'Stub',
 '628619000': 'Stub',
 '628766656': 'Stub',
 '628988952': 'Stub',
 '629562076': 'Stub',
 '629818376': 'Stub',
 '630396351': 'Stub',
 '630396786': 'Stub',
 '630704768': 'Stub',
 '631437331': 'Stub',
 '631581752': 'Start',
 '632008524': 'Start',
 '632261377': 'Stub',
 '632447328': 'Stub',
 '633612729': 'Start',
 '634032715': 'B',
 '635240253': 'Stub',
 '635814126': 'Stub',
 '637801253': 'Stub',
 '638214719': 'Stub',
 '638362866': 'Stub',
 '638377138': 'Stub',
 '638566016': 'Start',
 '638571205': 'Stub',
 '638599355': 'Start',
 '639021339': 'Stub',
 '639061161': 'Start',
 '639471171': 'Stub',
 '640014648': 'Stub',
 '640214913': 'Stub',
 '640826254': 'Stub',
 '641422326': 'Stub',
 '643410335': 'Start',
 '643746000': 'Stub',
 '643932216': 'Start',
 '643932220': 'Start',
 '643932225': 'Start',
 '643932226': 'Start',
 '643932239': 'Start',
 '643932242': 'Start',
 '644024203': 'Stub',
 '644399375': 'Stub',
 '645225697': 'Start',
 '645408814': 'Stub',
 '647367482': 'Start',
 '647450883': 'Stub',
 '647483021': 'Stub',
 '647832959': 'Stub',
 '647893858': 'Stub',
 '648048611': 'Stub',
 '648271473': 'Stub',
 '650458255': 'Stub',
 '650462344': 'Stub',
 '650494773': 'Stub',
 '651250302': 'Stub',
 '651785828': 'Stub',
 '651856758': 'Stub',
 '653467222': 'Stub',
 '653527941': 'Stub',
 '653895210': 'Stub',
 '654012510': 'Stub',
 '655031906': 'Stub',
 '655032578': 'Stub',
 '655390291': 'Stub',
 '655980284': 'Stub',
 '656352211': 'Stub',
 '656386131': 'Stub',
 '656737492': 'Stub',
 '657176628': 'Start',
 '658939122': 'Stub',
 '659315526': 'Stub',
 '660214915': 'Start',
 '660579437': 'Stub',
 '660884852': 'Start',
 '662681733': 'Start',
 '662927043': 'Start',
 '663088604': 'Stub',
 '663166199': 'Stub',
 '663348266': 'Stub',
 '663572469': 'Stub',
 '663617582': 'Stub',
 '663783398': 'Stub',
 '663880497': 'Stub',
 '664532059': 'Stub',
 '664669156': 'Stub',
 '664787336': 'Stub',
 '664793790': 'Stub',
 '664814622': 'Stub',
 '664822251': 'Stub',
 '666029819': 'Stub',
 '666610075': 'Start',
 '666752677': 'Stub',
 '667194771': 'Stub',
 '667198201': 'Start',
 '667815878': 'Start',
 '667821864': 'C',
 '667873261': 'Start',
 '667906849': 'Start',
 '668091068': 'Stub',
 '668095014': 'Stub',
 '668258382': 'Stub',
 '668449610': 'Stub',
 '668830946': 'Stub',
 '669266906': 'Stub',
 '669301445': 'Stub',
 '669387487': 'Start',
 '669444168': 'Stub',
 '669565720': 'Stub',
 '669571173': 'Stub',
 '669719757': 'Stub',
 '669831602': 'Stub',
 '669833212': 'Stub',
 '669833349': 'Stub',
 '669835390': 'Stub',
 '669841183': 'Stub',
 '669855022': 'Stub',
 '669862709': 'Stub',
 '669869895': 'Stub',
 '669981316': 'Stub',
 '669985109': 'Stub',
 '670134982': 'Stub',
 '670210734': 'Start',
 '670462475': 'Stub',
 '670893206': 'Stub',
 '670917017': 'Stub',
 '670960027': 'Stub',
 '670971940': 'Stub',
 '671016281': 'Stub',
 '671023940': 'Stub',
 '671029717': 'Stub',
 '671032132': 'Stub',
 '671047987': 'Stub',
 '671073599': 'Stub',
 '671122320': 'Start',
 '671189093': 'Stub',
 '671338098': 'Stub',
 '671338216': 'Stub',
 '671455150': 'Stub',
 '671462644': 'Stub',
 '671473289': 'Stub',
 '671475479': 'Stub',
 '671483959': 'Stub',
 '671511760': 'Stub',
 '671515606': 'Stub',
 '671516033': 'Stub',
 '671637265': 'Stub',
 '671868722': 'Stub',
 '671890885': 'Stub',
 '671891037': 'Stub',
 '671895550': 'Stub',
 '671897239': 'Stub',
 '671903264': 'Stub',
 '672119030': 'Stub',
 '672156082': 'Stub',
 '672284154': 'Stub',
 '672515581': 'Stub',
 '672547562': 'Stub',
 '672709444': 'Stub',
 '672862914': 'Stub',
 '673008587': 'Stub',
 '673393730': 'Stub',
 '674487383': 'Stub',
 '674576443': 'Stub',
 '674702694': 'Stub',
 '674919905': 'Stub',
 '675271208': 'Stub',
 '675303236': 'C',
 '675376529': 'Stub',
 '676040670': 'Stub',
 '676043559': 'Stub',
 '676044272': 'Stub',
 '676498385': 'Stub',
 '676610041': 'Stub',
 '676612108': 'Stub',
 '676661990': 'Stub',
 '676691070': 'Stub',
 '676732644': 'Stub',
 '676734572': 'Stub',
 '676782180': 'Stub',
 '676828191': 'B',
 '676841743': 'Stub',
 '676947124': 'Stub',
 '677094551': 'Stub',
 '677317570': 'Start',
 '677435096': 'Stub',
 '677516121': 'Stub',
 '677568976': 'Stub',
 '677724847': 'Stub',
 '677747943': 'Stub',
 '677750304': 'Start',
 '677769770': 'Stub',
 '677786528': 'Start',
 '677974642': 'Stub',
 '678140107': 'Stub',
 '678440540': 'Stub',
 '678532348': 'Start',
 '678595657': 'Stub',
 '678638092': 'Stub',
 '678721991': 'Stub',
 '679247120': 'Start',
 '679294949': 'Stub',
 '679509452': 'Stub',
 '679547012': 'Stub',
 '679559247': 'Stub',
 '679591301': 'Stub',
 '679623758': 'Stub',
 '679873929': 'Start',
 '680016822': 'Start',
 '680036029': 'Start',
 '680071857': 'GA',
 '680161213': 'Start',
 '680174895': 'Stub',
 '680205631': 'C',
 '680370867': 'Stub',
 '680532939': 'Stub',
 '680614363': 'Stub',
 '680618398': 'Stub',
 '680618797': 'Stub',
 '680629551': 'Stub',
 '680680191': 'Stub',
 '680722683': 'Stub',
 '680886613': 'Stub',
 '680933208': 'Stub',
 '681177706': 'Stub',
 '681605695': 'Stub',
 '682145001': 'Start',
 '682149007': 'Stub',
 '682166816': 'Stub',
 '682576258': 'Start',
 '682928660': 'Stub',
 '683020488': 'Stub',
 '683282915': 'Stub',
 '683417360': 'Start',
 '683631802': 'Stub',
 '683946857': 'Stub',
 '684050793': 'Stub',
 '684060626': 'Stub',
 '684179656': 'Stub',
 '684295893': 'Stub',
 '684464777': 'Stub',
 '684499128': 'Stub',
 '684525811': 'Stub',
 '684537777': 'Stub',
 '684542057': 'Start',
 '684660655': 'Stub',
 '684804678': 'Stub',
 '684821806': 'Start',
 '684859066': 'Stub',
 '684879320': 'Start',
 '684903534': 'Stub',
 '684903869': 'Stub',
 '685116600': 'Stub',
 '685320824': 'Start',
 '685347694': 'Stub',
 '685720694': 'Stub',
 '686050095': 'Stub',
 '686269631': 'Stub',
 '686349441': 'Stub',
 '686375687': 'Stub',
 '686406513': 'Stub',
 '686619225': 'Stub',
 '686777395': 'Start',
 '687093229': 'C',
 '687109778': 'Stub',
 '687127320': 'Stub',
 '687130572': 'Stub',
 '687134370': 'Stub',
 '687138552': 'Stub',
 '687159388': 'Start',
 '687159391': 'Start',
 '687159546': 'Start',
 '687160422': 'Stub',
 '687285060': 'Stub',
 '687492743': 'Stub',
 '687613810': 'Stub',
 '687837173': 'Stub',
 '687882717': 'Start',
 '688145583': 'Start',
 '688430552': 'Stub',
 '688501356': 'Stub',
 '688524967': 'Stub',
 '688590526': 'Stub',
 '688695923': 'Stub',
 '688697227': 'Start',
 '688763099': 'Stub',
 '689248087': 'Stub',
 '689614169': 'Stub',
 '689893447': 'Stub',
 '689932213': 'Stub',
 '689944992': 'Stub',
 '689950541': 'Stub',
 '690074710': 'Start',
 '690088836': 'Stub',
 '690152474': 'Start',
 '690205437': 'Stub',
 '690430012': 'Stub',
 '690548204': 'Stub',
 '690700220': 'Stub',
 '690768683': 'Stub',
 '690770856': 'Stub',
 '691045510': 'Start',
 '691201135': 'Stub',
 '691346630': 'Stub',
 '691389889': 'Stub',
 '691747234': 'Stub',
 '692123101': 'Stub',
 '692141335': 'Stub',
 '692173141': 'Stub',
 '692298286': 'Stub',
 '692475749': 'Stub',
 '692502721': 'Stub',
 '692502986': 'Stub',
 '692684868': 'Stub',
 '693011077': 'Stub',
 '693055898': 'Stub',
 '693179500': 'Stub',
 '693208023': 'Stub',
 '693211421': 'Stub',
 '693292931': 'Start',
 '693336296': 'Stub',
 '693337130': 'Stub',
 '693338177': 'Stub',
 '693354280': 'Stub',
 '693388584': 'Start',
 '693431430': 'Stub',
 '693514155': 'Stub',
 '693552292': 'Stub',
 '693573541': 'Stub',
 '693624260': 'Stub',
 '693661018': 'Stub',
 '693721533': 'Stub',
 '693748230': 'Stub',
 '693817205': 'C',
 '694039903': 'Stub',
 '694084978': 'Stub',
 '694112087': 'Stub',
 '694313944': 'B',
 '694335820': 'C',
 '694337217': 'Stub',
 '694364743': 'Stub',
 '694519009': 'Start',
 '694557304': 'Start',
 '694588693': 'Stub',
 '694815600': 'Stub',
 '694889020': 'Stub',
 '694949199': 'Stub',
 '694949347': 'Stub',
 '694954386': 'Stub',
 '694969219': 'Stub',
 '694969272': 'Stub',
 '695276940': 'Stub',
 '695389357': 'Start',
 '695393414': 'Stub',
 '695405443': 'Stub',
 '695633280': 'Stub',
 '695644408': 'Start',
 '695938011': 'Stub',
 '695941127': 'Stub',
 '696119166': 'Stub',
 '696253449': 'Start',
 '696310078': 'Stub',
 '696350624': 'Stub',
 '696479863': 'Stub',
 '696606312': 'Stub',
 '696608668': 'Stub',
 '697009255': 'Stub',
 '697267319': 'Stub',
 '697280332': 'Stub',
 '697369222': 'Stub',
 '697507956': 'Start',
 '697511001': 'Stub',
 '697556836': 'Start',
 '697559666': 'Start',
 '697662367': 'Stub',
 '697742639': 'Stub',
 '697897076': 'Stub',
 '697908533': 'Stub',
 '698048774': 'Stub',
 '698093715': 'Start',
 '698241676': 'Stub',
 '698253253': 'Stub',
 '698345894': 'Stub',
 '698571611': 'Stub',
 '698571613': 'Stub',
 '698571631': 'Stub',
 '698571634': 'Stub',
 '698571661': 'Stub',
 '698571662': 'Stub',
 '698571672': 'Stub',
 '698571717': 'Stub',
 '698571731': 'Stub',
 '698571738': 'Stub',
 '698571745': 'Stub',
 '698571747': 'Stub',
 '698571748': 'Stub',
 '698571750': 'Stub',
 '698571758': 'Stub',
 '698571782': 'Stub',
 '698571785': 'Stub',
 '698571803': 'Stub',
 '698572100': 'Start',
 '698572160': 'Stub',
 '698572183': 'Stub',
 '698572200': 'Stub',
 '698572239': 'Stub',
 '698572252': 'Stub',
 '698572269': 'Stub',
 '698572288': 'Stub',
 '698572291': 'Stub',
 '698572322': 'Stub',
 '698572326': 'Stub',
 '698573619': 'Stub',
 '698573648': 'Stub',
 '698573657': 'Stub',
 '698573663': 'Stub',
 '698573690': 'Stub',
 '698573707': 'Stub',
 '698573738': 'Stub',
 '698575586': 'Stub',
 '698575613': 'Stub',
 '698575620': 'Stub',
 '698575646': 'Stub',
 '698575662': 'Stub',
 '698575677': 'Stub',
 '698575695': 'Stub',
 '698575714': 'Stub',
 '698635954': 'Start',
 '698806662': 'Stub',
 '698806682': 'Stub',
 '698807297': 'Stub',
 '698807322': 'Stub',
 '698807325': 'Start',
 '698807337': 'Stub',
 '698807345': 'Stub',
 '698807371': 'Stub',
 '698807791': 'Stub',
 '698865505': 'Start',
 '698946168': 'Stub',
 '698946169': 'Stub',
 '698947539': 'Stub',
 '698947672': 'Stub',
 '698947841': 'Stub',
 '698948097': 'Stub',
 '698948150': 'Stub',
 '698964210': 'C',
 '699022350': 'Stub',
 '699090098': 'Stub',
 '699090515': 'Stub',
 '699093655': 'Stub',
 '699105110': 'Stub',
 '699105313': 'Stub',
 '699105350': 'Start',
 '699105456': 'Stub',
 '699105911': 'Start',
 '699105927': 'Start',
 '699105952': 'Stub',
 '699105999': 'Stub',
 '699106128': 'Stub',
 '699106152': 'Stub',
 '699106649': 'Stub',
 '699106665': 'Stub',
 '699136209': 'Stub',
 '699143672': 'Stub',
 '699197059': 'Stub',
 '699197123': 'C',
 '699197323': 'Stub',
 '699197850': 'Start',
 '699198463': 'Start',
 '699198744': 'Start',
 '699199094': 'Stub',
 '699217035': 'Stub',
 '699217197': 'Stub',
 '699244801': 'Stub',
 '699336500': 'Start',
 '699336991': 'Start',
 '699337057': 'Start',
 '699337076': 'Stub',
 '699337845': 'Stub',
 '699338274': 'Stub',
 '699338569': 'Stub',
 '699339086': 'Stub',
 '699339429': 'Start',
 '699339451': 'Stub',
 '699339741': 'Stub',
 '699339799': 'Stub',
 '699339851': 'Stub',
 '699340034': 'Stub',
 '699340111': 'Stub',
 '699340192': 'Start',
 '699340750': 'Stub',
 '699340982': 'Start',
 '699341069': 'Start',
 '699341077': 'Stub',
 '699341277': 'Start',
 '699359388': 'Start',
 '699363937': 'Stub',
 '699385095': 'Stub',
 '699387282': 'Stub',
 '699387500': 'Stub',
 '699387764': 'Stub',
 '699520934': 'Start',
 '699565471': 'Stub',
 '699589239': 'Stub',
 '699674395': 'Stub',
 '699691415': 'Start',
 '699692070': 'Stub',
 '699698855': 'Stub',
 '699698896': 'Stub',
 '699700649': 'Stub',
 '699701755': 'Stub',
 '699739069': 'Stub',
 '699876153': 'Stub',
 '699931269': 'Stub',
 '699979806': 'C',
 '700002117': 'Stub',
 '700027061': 'Stub',
 '700061282': 'Stub',
 '700172278': 'C',
 '700180948': 'Stub',
 '700307974': 'Stub',
 '700312550': 'Stub',
 '700355020': 'Stub',
 '700355034': 'Stub',
 '700400143': 'Stub',
 '700445444': 'Start',
 '700458967': 'Start',
 '700474660': 'Stub',
 '700475564': 'Stub',
 '700476319': 'Stub',
 '700476353': 'Stub',
 '700669417': 'Stub',
 '700670718': 'C',
 '700719585': 'Stub',
 '700864508': 'Stub',
 '700932354': 'Start',
 '701014752': 'Start',
 '701047665': 'C',
 '701048027': 'Stub',
 '701106976': 'Start',
 '701219833': 'Start',
 '701394744': 'Stub',
 '701395219': 'Stub',
 '701431224': 'Stub',
 '701437626': 'Stub',
 '701452937': 'Start',
 '701588716': 'Stub',
 '701742218': 'Stub',
 '701745522': 'Stub',
 '701771698': 'Start',
 '701832149': 'Stub',
 '701871912': 'Stub',
 '701896358': 'Start',
 '701904302': 'Stub',
 '701961167': 'Stub',
 '701998658': 'Stub',
 '702098995': 'Stub',
 '702258783': 'Stub',
 '702355716': 'Stub',
 '702357552': 'Stub',
 '702484294': 'Stub',
 '702509338': 'Stub',
 '702687818': 'Stub',
 '702707688': 'Start',
 '702712670': 'Start',
 '702727008': 'Start',
 '702729826': 'Stub',
 '702740797': 'Start',
 '702832114': 'Stub',
 '702875035': 'Stub',
 '702893111': 'Stub',
 '702930848': 'Stub',
 '702949370': 'Start',
 '702969677': 'Stub',
 '702972334': 'Stub',
 '702973103': 'Stub',
 '702974211': 'Start',
 '702974510': 'Stub',
 '703029024': 'Stub',
 '703037968': 'Start',
 '703053769': 'Stub',
 '703053876': 'Stub',
 '703053905': 'Stub',
 '703054379': 'Stub',
 '703054420': 'Stub',
 '703054447': 'Stub',
 '703054465': 'Stub',
 '703054481': 'Stub',
 '703054542': 'Start',
 '703054561': 'Stub',
 '703054581': 'Stub',
 '703054633': 'Stub',
 '703054668': 'Stub',
 '703055426': 'Stub',
 '703055552': 'Stub',
 '703060685': 'Stub',
 '703098503': 'Stub',
 '703105765': 'C',
 '703133769': 'Stub',
 '703183568': 'Start',
 '703187650': 'C',
 '703207074': 'Stub',
 '703216645': 'Stub',
 '703222512': 'Stub',
 '703224305': 'Stub',
 '703226576': 'Stub',
 '703296748': 'Stub',
 '703296780': 'Stub',
 '703296853': 'Stub',
 '703325745': 'Stub',
 '703331074': 'C',
 '703366953': 'Stub',
 '703366980': 'Stub',
 '703380433': 'Stub',
 '703384635': 'Stub',
 '703384656': 'Stub',
 '703385617': 'Stub',
 '703386200': 'Start',
 '703392035': 'Stub',
 '703392121': 'Stub',
 '703401191': 'Stub',
 '703401364': 'Stub',
 '703405191': 'Start',
 '703406889': 'Stub',
 '703412803': 'Stub',
 '703416870': 'Stub',
 '703422434': 'Stub',
 '703423083': 'Start',
 '703436823': 'Start',
 '703442039': 'Start',
 '703463813': 'Start',
 '703478926': 'Stub',
 '703494680': 'Start',
 '703495399': 'Stub',
 '703507854': 'Stub',
 '703532164': 'Stub',
 '703540064': 'Start',
 '703546632': 'Start',
 '703547153': 'Stub',
 '703550487': 'Stub',
 '703551448': 'Stub',
 '703555897': 'Stub',
 '703558722': 'Stub',
 '703558902': 'Stub',
 '703559376': 'Stub',
 '703559571': 'Stub',
 '703560413': 'Stub',
 '703569338': 'Stub',
 '703580130': 'Stub',
 '703652809': 'Start',
 '703666654': 'Start',
 '703693244': 'Stub',
 '703707383': 'Stub',
 '703719281': 'Start',
 '703721936': 'Stub',
 '703726449': 'Stub',
 '703726461': 'Stub',
 '703759447': 'C',
 '703819839': 'Stub',
 '703821686': 'Stub',
 '703857757': 'Stub',
 '703874973': 'Stub',
 '703875077': 'Stub',
 '703915721': 'B',
 '703922417': 'Stub',
 '703925527': 'Stub',
 '703937309': 'Stub',
 '703937386': 'Stub',
 '704000120': 'Stub',
 '704001951': 'Stub',
 '704010140': 'Start',
 '704039294': 'Stub',
 '704047959': 'Stub',
 '704094181': 'Stub',
 '704136762': 'Stub',
 '704235837': 'Start',
 '704358444': 'C',
 '704369545': 'Stub',
 '704424304': 'Stub',
 '704428239': 'Stub',
 '704438564': 'Stub',
 '704438953': 'Stub',
 '704451065': 'Start',
 '704452023': 'Start',
 '704455431': 'Start',
 '704460602': 'Start',
 '704467987': 'Stub',
 '704476712': 'Stub',
 '704491213': 'Stub',
 '704516768': 'Start',
 '704529226': 'Stub',
 '704529261': 'Start',
 '704529371': 'Stub',
 '704529469': 'Stub',
 '704529565': 'Stub',
 '704529649': 'Stub',
 '704529680': 'Stub',
 '704529707': 'Stub',
 '704529774': 'Stub',
 '704529947': 'Stub',
 '704529983': 'Stub',
 '704530012': 'Stub',
 '704530050': 'Stub',
 '704530111': 'Stub',
 '704530148': 'Stub',
 '704530193': 'Stub',
 '704530253': 'Stub',
 '704569851': 'Start',
 '704575541': 'Stub',
 '704596904': 'Stub',
 '704597450': 'Start',
 '704600764': 'Stub',
 '704611447': 'Stub',
 '704636414': 'Stub',
 '704636517': 'C',
 '704651379': 'Start',
 '704668476': 'Stub',
 '704676106': 'Stub',
 '704689916': 'Stub',
 '704744768': 'Stub',
 '704745155': 'Start',
 '704772645': 'Stub',
 '704779585': 'Stub',
 '704789339': 'Stub',
 '704816808': 'Start',
 '704830391': 'Stub',
 '704833506': 'Stub',
 '704859854': 'Start',
 '704860350': 'Stub',
 '704866062': 'Stub',
 '704875463': 'Start',
 '704888246': 'Stub',
 '704893591': 'Stub',
 '704897187': 'Stub',
 '704906631': 'Stub',
 '704909164': 'Stub',
 '704909244': 'Stub',
 '704909670': 'Stub',
 '704914179': 'Start',
 '704916318': 'Stub',
 '704916375': 'Stub',
 '704917703': 'Stub',
 '704919844': 'B',
 '704929287': 'Stub',
 '704933176': 'Stub',
 '704936337': 'Stub',
 '704938340': 'Start',
 '704954450': 'Stub',
 '704966834': 'C',
 '704971958': 'Stub',
 '704981447': 'Stub',
 '704981869': 'Stub',
 '704987150': 'Stub',
 '705001594': 'Stub',
 '705015595': 'Start',
 '705017090': 'Start',
 '705038435': 'Stub',
 '705046546': 'Start',
 '705071250': 'Stub',
 '705080136': 'Start',
 '705088060': 'Stub',
 '705106158': 'Stub',
 '705111781': 'Stub',
 '705119502': 'Stub',
 '705122808': 'Start',
 '705167083': 'C',
 '705177330': 'Start',
 '705180584': 'Stub',
 '705200468': 'Stub',
 '705202080': 'Stub',
 '705202157': 'Stub',
 '705204037': 'Stub',
 '705206510': 'Start',
 '705206616': 'Start',
 '705212313': 'Start',
 '705213504': 'Stub',
 '705218371': 'Start',
 '705222873': 'Stub',
 '705226005': 'Stub',
 '705228603': 'Start',
 '705236060': 'Stub',
 '705244503': 'Stub',
 '705247791': 'Stub',
 '705254033': 'Stub',
 '705264062': 'Start',
 '705267741': 'Stub',
 '705267817': 'Stub',
 '705267832': 'Stub',
 '705268153': 'Stub',
 '705268171': 'Start',
 '705268248': 'Stub',
 '705268496': 'Stub',
 '705268522': 'Stub',
 '705268536': 'Stub',
 '705268645': 'Stub',
 '705272416': 'Stub',
 '705274650': 'Start',
 '705277835': 'Stub',
 '705286745': 'Stub',
 '705288012': 'Stub',
 '705288814': 'Stub',
 '705293831': 'Start',
 '705301730': 'Stub',
 '705322126': 'Stub',
 '705332341': 'Stub',
 '705346284': 'Stub',
 '705346304': 'Stub',
 '705346378': 'Stub',
 '705346396': 'Stub',
 '705346462': 'Stub',
 '705346724': 'Stub',
 '705346741': 'Stub',
 '705346794': 'Stub',
 '705346842': 'Stub',
 '705346888': 'Stub',
 '705346938': 'Stub',
 '705346996': 'Stub',
 '705347032': 'Stub',
 '705347050': 'Stub',
 '705347079': 'Stub',
 '705347109': 'Stub',
 '705347141': 'Stub',
 '705347152': 'Stub',
 '705347173': 'Start',
 '705347224': 'Stub',
 '705347243': 'Stub',
 '705349064': 'Start',
 '705349092': 'Stub',
 '705349139': 'Stub',
 '705349167': 'Stub',
 '705349213': 'Stub',
 '705353421': 'Stub',
 '705353491': 'Stub',
 '705353565': 'Stub',
 '705353584': 'Stub',
 '705353647': 'Stub',
 '705353678': 'Stub',
 '705353843': 'Stub',
 '705353896': 'Stub',
 '705353975': 'Stub',
 '705354095': 'Stub',
 '705354112': 'Stub',
 '705354212': 'Stub',
 '705360501': 'Start',
 '705360606': 'Start',
 '705361515': 'Stub',
 '705361631': 'Stub',
 '705361890': 'Stub',
 '705361977': 'Stub',
 '705362182': 'Stub',
 '705362274': 'Stub',
 '705363525': 'Stub',
 '705363610': 'Stub',

In [132]:
df_preds = pandas.DataFrame.from_dict({'rev_id' : predictions.keys(), 'quality' : predictions.values()})
df_page['rev_id'] = df_page['rev_id'].astype(str)
df_page = df_page.merge(df_preds, on = 'rev_id')

In [133]:
df_no_match = df_page.merge(df_country, how='outer', left_on='country', right_on='Name')
df_no_match = df_no_match[df_no_match['Population'].isna() | df_no_match['page'].isna()]
df_no_match

,page,country,rev_id,quality,FIPS,Name,Type,TimeFrame,Data (M),Population
482,Julius Gregr,Czech Republic,395521877,Stub,NaN,NaN,NaN,NaN,NaN,NaN
483,Edvard Gregr,Czech Republic,395526568,Stub,NaN,NaN,NaN,NaN,NaN,NaN
484,Miroslav Poche,Czech Republic,672862914,Stub,NaN,NaN,NaN,NaN,NaN,NaN
485,Vojtěch Mynář,Czech Republic,673008587,Stub,NaN,NaN,NaN,NaN,NaN,NaN
486,Jan Malypetr,Czech Republic,704424304,Stub,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
45516,NaN,NaN,NaN,NaN,PF,French Polynesia,Country,2019.0,0.280,280000.0
45517,NaN,NaN,NaN,NaN,GU,Guam,Country,2019.0,0.175,175000.0
45518,NaN,NaN,NaN,NaN,NC,New Caledonia,Country,2019.0,0.295,295000.0
45519,NaN,NaN,NaN,NaN,PW,Palau,Country,2019.0,0.018,18000.0
45520,NaN,NaN,NaN,NaN,WS,Samoa,Country,2019.0,0.200,200000.0

In [134]:
df_total = df_page.merge(df_country, how='inner', left_on='country', right_on='Name')[['page','country','rev_id','quality','Population']]
df_total

                        page     country     rev_id quality  Population
0             Bir I of Kanem        Chad  355319463    Stub    16877000
1       Abdullah II of Kanem        Chad  498683267    Stub    16877000
2        Salmama II of Kanem        Chad  565745353    Stub    16877000
3            Kuri I of Kanem        Chad  565745365    Stub    16877000
4        Mohammed I of Kanem        Chad  565745375    Stub    16877000
...                      ...         ...        ...     ...         ...
43676  Danielle de St. Jorre  Seychelles  798671157    Stub       98000
43677             Rita Sinon  Seychelles  800323154    Stub       98000
43678       Sylvette Frichot  Seychelles  800323798    Stub       98000
43679        Vincent Meriton  Seychelles  802051093    Stub       98000
43680    Marie-Louise Potter  Seychelles  804209620    Stub       98000

[43681 rows x 5 columns]

In [135]:
df_articles = df_total.groupby(['country']).count()['page']
df_articles

country
Afghanistan    313
Albania        449
Algeria        115
Andorra         33
Angola         105
              ...
Venezuela      126
Vietnam        184
Yemen          114
Zambia          25
Zimbabwe       159
Name: page, Length: 183, dtype: int64

In [136]:
df_country = df_country.merge(df_articles, how='left', left_on='Name', right_on='country')
df_country['PagesPerCapita'] = df_country['page'] / df_country['Population'].astype(float)

In [154]:
df_country.sort_values('PagesPerCapita', ascending=False).head(10)[['Name', 'PagesPerCapita']]

                               Name  PagesPerCapita
207                          Tuvalu        0.005400
199                           Nauru        0.004727
188                      San Marino        0.002353
164                          Monaco        0.001000
162                   Liechtenstein        0.000692
206                           Tonga        0.000636
198                Marshall Islands        0.000632
151                         Iceland        0.000530
178                         Andorra        0.000402
193  Federated States of Micronesia        0.000340

In [153]:
df_country.sort_values('PagesPerCapita', ascending=True).head(10)[['Name', 'PagesPerCapita']]

                     Name  PagesPerCapita
141  China, Hong Kong SAR             0.0
79            Puerto Rico             0.0
32                Mayotte             0.0
138           Timor-Leste             0.0
107                  Oman             0.0
71                Curacao             0.0
53               eSwatini             0.0
34                Reunion             0.0
61            El Salvador             0.0
81            Saint Lucia             0.0

In [139]:
df_country = df_country.merge(df_total[df_total['quality'] == 'FA'].groupby(['country']).count()['page'], how='left', left_on='Name', right_on='country')
df_country

,FIPS,Name,Type,TimeFrame,Data (M),Population,page_x,PagesPerCapita,page_y
0,DZ,Algeria,Country,2019,44.357,44357000,115.0,0.000003,NaN
1,EG,Egypt,Country,2019,100.803,100803000,228.0,0.000002,6.0
2,LY,Libya,Country,2019,6.891,6891000,109.0,0.000016,1.0
3,MA,Morocco,Country,2019,35.952,35952000,203.0,0.000006,NaN
4,SD,Sudan,Country,2019,43.849,43849000,93.0,0.000002,1.0
...,...,...,...,...,...,...,...,...,...
204,WS,Samoa,Country,2019,0.200,200000,NaN,NaN,NaN
205,SB,Solomon Islands,Country,2019,0.715,715000,96.0,0.000134,NaN
206,TO,Tonga,Country,2019,0.099,99000,63.0,0.000636,NaN
207,TV,Tuvalu,Country,2019,0.010,10000,54.0,0.005400,NaN
208,VU,Vanuatu,Country,2019,0.321,321000,57.0,0.000178,NaN

In [140]:
df_country = df_country.merge(df_total[df_total['quality'] == 'GA'].groupby(['country']).count()['page'], how='left', left_on='Name', right_on='country')
df_country

,FIPS,Name,Type,TimeFrame,Data (M),Population,page_x,PagesPerCapita,page_y,page
0,DZ,Algeria,Country,2019,44.357,44357000,115.0,0.000003,NaN,2.0
1,EG,Egypt,Country,2019,100.803,100803000,228.0,0.000002,6.0,4.0
2,LY,Libya,Country,2019,6.891,6891000,109.0,0.000016,1.0,3.0
3,MA,Morocco,Country,2019,35.952,35952000,203.0,0.000006,NaN,1.0
4,SD,Sudan,Country,2019,43.849,43849000,93.0,0.000002,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
204,WS,Samoa,Country,2019,0.200,200000,NaN,NaN,NaN,NaN
205,SB,Solomon Islands,Country,2019,0.715,715000,96.0,0.000134,NaN,NaN
206,TO,Tonga,Country,2019,0.099,99000,63.0,0.000636,NaN,NaN
207,TV,Tuvalu,Country,2019,0.010,10000,54.0,0.005400,NaN,4.0
208,VU,Vanuatu,Country,2019,0.321,321000,57.0,0.000178,NaN,3.0

In [142]:
df_country = df_country.fillna(0)

In [148]:
df_country['good_articles'] = df_country['page_y'] + df_country['page']
df_country['good_articles_portion'] = df_country['good_articles'] / df_country['page_x']
df_country = df_country.fillna(0)
df_country

,FIPS,Name,Type,TimeFrame,Data (M),Population,page_x,PagesPerCapita,page_y,page,good_articles,good_articles_portion
0,DZ,Algeria,Country,2019,44.357,44357000,115.0,0.000003,0.0,2.0,2.0,0.017391
1,EG,Egypt,Country,2019,100.803,100803000,228.0,0.000002,6.0,4.0,10.0,0.043860
2,LY,Libya,Country,2019,6.891,6891000,109.0,0.000016,1.0,3.0,4.0,0.036697
3,MA,Morocco,Country,2019,35.952,35952000,203.0,0.000006,0.0,1.0,1.0,0.004926
4,SD,Sudan,Country,2019,43.849,43849000,93.0,0.000002,1.0,1.0,2.0,0.021505
...,...,...,...,...,...,...,...,...,...,...,...,...
204,WS,Samoa,Country,2019,0.200,200000,0.0,0.000000,0.0,0.0,0.0,0.000000
205,SB,Solomon Islands,Country,2019,0.715,715000,96.0,0.000134,0.0,0.0,0.0,0.000000
206,TO,Tonga,Country,2019,0.099,99000,63.0,0.000636,0.0,0.0,0.0,0.000000
207,TV,Tuvalu,Country,2019,0.010,10000,54.0,0.005400,0.0,4.0,4.0,0.074074
208,VU,Vanuatu,Country,2019,0.321,321000,57.0,0.000178,0.0,3.0,3.0,0.052632

In [151]:
df_country.sort_values('good_articles_portion', ascending=False).head(10)[['Name', 'good_articles_portion']]

                         Name  good_articles_portion
144              Korea, North               0.222222
110              Saudi Arabia               0.133929
173                   Romania               0.125000
45   Central African Republic               0.123077
119                Uzbekistan               0.107143
17                 Mauritania               0.104167
62                  Guatemala               0.085366
72                   Dominica               0.083333
111                     Syria               0.080000
7                       Benin               0.077778

In [152]:
df_country.sort_values('good_articles_portion', ascending=True).head(10)[['Name','good_articles_portion']]

                    Name  good_articles_portion
61           El Salvador                    0.0
71               Curacao                    0.0
69              Barbados                    0.0
68               Bahamas                    0.0
67   Antigua and Barbuda                    0.0
63              Honduras                    0.0
178              Andorra                    0.0
60            Costa Rica                    0.0
59                Belize                    0.0
55               Namibia                    0.0

In [ ]:


with open(src_dir + "WPDS_2020_data - WPDS_2020_data.csv") as infile:
    reader = csv.reader(infile)