In [4]:
import csv
import pandas

In [5]:
src_dir = "C:\\Users\\AaronJacobsonDesk3\\Documents\\UWMSDS\\Classes\\Fall2021\\DATA512\\DATA512\\DATA512\\A2\\"

In [10]:
df_page = pandas.read_csv(src_dir + "page_data.csv")
df_page = df_page[~df_page['page'].str.startswith("Template:")]
df_page

,page,country,rev_id
1,Bir I of Kanem,Chad,355319463
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
12,Yos Por,Cambodia,393822005
23,Julius Gregr,Czech Republic,395521877
24,Edvard Gregr,Czech Republic,395526568
...,...,...,...
47192,Yahya Jammeh,Gambia,807482007
47193,Lucius Fairchild,United States,807483006
47194,Fahd of Saudi Arabia,Saudi Arabia,807483153
47195,Francis Fessenden,United States,807483270
47196,Ajay Kannoujiya,India,807484325

In [24]:
df_country = pandas.read_csv(src_dir + "WPDS_2020_data - WPDS_2020_data.csv")
df_region = df_country[df_country['Type'] != "Country"]
df_country = df_country[df_country['Type'] == "Country"]